<!DOCTYPE html>
<html>
  <head>
    <title>raspi-node.js</title>
    <style type="text/css">
      li { font-size: 1.8em; }
      canvas { border: 1px solid #999; }
    </style>
  </head>
  <body>
    <canvas id="cv" width="640" height="155"></canvas>
    <div id="canvas"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/TrackballControls.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>